.competition__container {
  display: grid;
  grid-template-columns: 500px 660px;
  justify-content: center;
  padding-top: 47px;

  @include vp-1199 {
    grid-template-columns: 292px 386px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 35px;
  }
}

.competition__description {
  display: grid;
  grid-template-columns: 2fr 1fr;

  column-gap: 50px;
  padding: 80px 78px 87px;
  color: $color-default-white;
  background-color: $color-torch-red-1;

  @include vp-1199 {
    column-gap: 32px;
    padding: 46px 45px 51px;
  }

  @include vp-767 {
    padding: 45px 44px 52px;
  }

  h2 {
    margin: 0;
    font-family: $ff-alumni;
    font-size: 82px;
    line-height: 96%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.46px;
    transform: translate(2px, 6px);

    @include vp-1199 {
      font-size: 48px;
      letter-spacing: 1.44px;
      margin-left: 4px;
    }
  }

  p {
    grid-column: 1 / -1;
    margin: 0;
    margin-bottom: 45px;
    font-size: 18px;

    @include vp-1199 {
      margin-bottom: 0;
      padding-top: 4px;
      font-size: 12px;
    }

    @include vp-767 {
      margin-bottom: 12px;
      padding-top: 0;
      transform: translateY(-12px);
    }
  }

  time {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    margin-bottom: 3px;
    transform: translateX(2px);

    @include vp-1199 {
      margin-bottom: 0;
      line-height: normal;
    }

    tr {
      position: relative;
      display: flex;
      flex-direction: column;
      width: min-content;

      td:first-of-type {
        margin-bottom: 15px;
        font-size: 18px;

        @include vp-1199 {
          margin-bottom: 14px;
          font-size: 12px;
        }
      }

      td:nth-of-type(2) {
        display: flex;
        align-items: center;
        column-gap: 7px;
        font-size: 14px;
        line-height: normal;
        transform: translateY(-12px);

        @include vp-1199 {
          column-gap: 4px;
          font-size: 10px;
        }

        span {
          font-size: 40px;
          font-weight: 700;

          @include vp-1199 {
            font-size: 24px;
          }
        }
      }
    }
    tr:not(:last-of-type) {
      margin-bottom: 4px;

      @include vp-1199 {
        margin-bottom: -8px;
      }
    }

    tr::before {
      position: absolute;
      top: 30px;
      width: 100%;
      border: 1px solid $color-default-white;
      content: "";

      @include vp-1199 {
        top: 18px;
      }
    }
  }

  a {
    grid-column: 1 / -1;
    justify-content: center;
    width: 100%;
    min-height: 67px;
    padding: 23px;
    padding-top: 26px;
    line-height: normal;
    letter-spacing: 0.6px;
    transform: translateY(2px);

    @include vp-1199 {
      min-height: 39px;
      padding: 10px 50px;
      font-size: 10px;
      letter-spacing: 0.5px;
      border-width: 2px;
    }

    @include vp-767 {
      padding: 12px 50px;
    }

    &:hover {
      color: $color-egyptian-blue;
      background-color: $color-default-white;
    }

    &:active {
      color: $color-sapphire;
      background-color: $color-default-white;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

.competition__image-container {
  background-color: $color-midnight-express;

  img {
    @include vp-767 {
      width: 100%;
      max-height: 292px;
      object-fit: cover;
    }
  }
}
