.faq__container {
  padding-top: 120px;
  padding-bottom: 30px;
  background-color: $color-ghost-white;

  h2 {
    margin: 0;
    margin-bottom: 39px;
    font-family: $ff-alumni;
    font-size: 54px;
    line-height: normal;
    letter-spacing: 1.62px;
  }
}

.faq__tabs {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 40px;
}

.faq__controls {
  flex-direction: column;
  justify-content: start;
  gap: 10px;
}

.faq__control {
  min-width: 260px;
  margin: 0;
  padding: 17px;

  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  text-transform: none;

  border: 1px solid $color-sapphire-opacity-light;
  opacity: 1;

  &.is-active,
  &:active {
    color: $color-default-white;
    background: $torch-red-to-cobalt;
    border-image: $torch-red-to-cobalt 1;
  }

  &:active {
    color: $color-white-opacity;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.faq__content {
   .tabs__element {
    padding: 0;
    background-color: $color-transparent;
  }

  .accordion__element {
    position: relative;
    min-height: 92px;
    margin-bottom: 0;
    padding: 31px 0 24px;
    border-bottom: 1px solid $color-resolution-blue-opacity;

    &:first-of-type {
      border-top: 1px solid $color-resolution-blue-opacity;
    }
  }

  .accordion__title {
    margin: 0;
    // margin-bottom: 16px;
    font-size: 24px;
    line-height: 120%;
    font-weight: 500;
    letter-spacing: 0.1px;
  }

  .accordion__button {
    position: absolute;
    top: 25px;
    right: 0;
    width: 42px;
    height: 42px;

    border: 1px solid $color-resolution-blue;
    border-radius: 50%;

    &::after,
    &::before {
      position: absolute;
      top: 19px;
      right: 0;
      left: 0;
      margin: auto;
      width: 18px;
      border-bottom: 2px solid $color-resolution-blue;
      z-index: 1;
      content: "";
    }

    &::after {
      transform: rotate(90deg);
    }
  }

  .accordion__element.is-active > .accordion__button {
    background-color: $color-resolution-blue;
    opacity: 1;

    &::after {
      display: none;
    }

    &::before {
      border-color: $color-default-white;
    }
  }

  .accordion__content {
    .accordion__wrapper {
      padding: 0;
    }

    p {
      padding-top: 16px;
      padding-right: 180px;
      font-size: 18px;
      font-weight: 300;
      line-height: 140%;
    }
  }
}
