.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  min-height: 108px;

  background-color: $color-black-russian;

  @include vp-1199 {
    min-height: 114px;
  }

  @include vp-767 {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    min-height: 260px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;

    a {
      display: block;
    }
  }
}

.main-footer__logo-container {
  margin-top: auto;
  margin-right: 50px;
  margin-bottom: 40px;

  @include vp-1199 {
    margin: 0;
    margin-right: 35px;
  }

  @include vp-767 {
    position: absolute;
    top: 53px;

    margin: 0;
    margin-right: 35px;
  }
}

.main-footer__logo {
  padding: 0;
}

.main-footer__nav-container {
  max-width: 740px;

  @include vp-1199 {
    max-width: 425px;
  }

  @include vp-767 {
    max-width: unset;
    margin-top: 46px;
  }

  ul {
    @include vp-767 {
      display: grid;
      grid-template-columns: min-content min-content;
      grid-template-rows: repeat(3, 1fr);
      grid-auto-flow: column;

      column-gap: 75px;
      row-gap: 16px;
    }

    li:first-of-type {
      @include vp-767 {
        grid-row: 1 / 3;
        align-self: flex-end;
      }
    }
  }

  a {
    padding: 40px 20px;
    font-size: 14px;
    color: $color-default-white;

    @include vp-1199 {
      padding: 40px 15px;
    }

    @include vp-767 {
      font-size: 16px;
      padding: 0;
    }
  }
}

.main-footer__socials-container {
  margin-bottom: -8px;
  margin-left: 40px;

  @include vp-1199 {
    margin-left: 20px;
  }

  @include vp-767 {
    margin-bottom: 44px;
    margin-left: 0;
  }
}
