.gym__container {
  display: grid;
  grid-template-columns: 359px 1fr;
  column-gap: 18px;
  max-width: 1600px;
  min-height: 516px;

  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 163px;
}

.gym__description {
  color: $color-sapphire;

  h2 {
    margin-top: 39px;
    margin-bottom: 9px;
    font-family: "Alumni Sans", "Arial", sans-serif;
    font-size: 48px;
    line-height: normal;
    letter-spacing: 1.44px;
  }

  h3 {
    grid-column: 1 / 2;
    margin: 0;
    margin-bottom: 41px;
    font-size: 18px;
  }

  p {
    grid-column: 1 / 2;
    margin: 0;
  }

  p + p {
    margin-top: 9px;
  }
}

.gym__image-container {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  margin-bottom: 115px;
  margin-left: auto;
}

.gym__video-container {
  position: relative;
  z-index: 10;
  grid-row: 1 / 5;
  grid-column: 2 / 3;
  align-self: flex-end;
  width: 364px;
  height: 228px;
  padding-bottom: 115px;

  img {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 364px;
    height: 228px;
    z-index: 20;
    cursor: pointer;
  }
}

.gym__video-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 72px;
  height: 72px;

  background: $cerulean-to-red;
  border: none;
  border-radius: 50%;
  z-index: 30;

  &::before {
    position: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width: 100px;
    height: 100px;

    border-radius: 50%;
    border: 1px solid transparent;
    background: $cerulean-to-red border-box;
    mask:
     linear-gradient(#fff 0 0) padding-box,
     linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
          mask-composite: exclude;
    transform: translateX(-15%);

    content: "";
  }

  svg {
    position: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}
