.info__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin: 0;
    font-family: $ff-alumni;
    font-size: 54px;
    letter-spacing: 1.62px;

    @include vp-1199 {
      font-size: 42px;
      letter-spacing: 1.26px;
    }

    @include vp-767 {
      font-size: 32px;
      letter-spacing: 0.96px;
    }
  }
}

.info__lesson-container {
  display: grid;
  justify-content: end;
  padding: 56px 170px 68px 103px;
  color: $color-default-white;
  background-color: $color-sapphire;

  @include vp-1365 {
    padding-right: 120px;
    padding-left: 70px;
  }

  @include vp-1199 {
    justify-content: center;
    padding: 54px 163px 69px 133px;
  }

  @include vp-767 {
    padding: 58px 15px 67px;
  }

  h2 {
    line-height: 156%;
    font-weight: 800;

    @include vp-1199 {
      margin-bottom: 20px;
      font-weight: 600;
      letter-spacing: 1.46px;
    }

    @include vp-767 {
      margin-bottom: 25px;
      letter-spacing: 0.96px;
    }
  }

  form {
    display: grid;
    grid-template-columns: repeat(2, 190px);
    column-gap: 30px;

    @include vp-1199 {
      grid-template-columns: repeat(2, 206px);
      gap: 27px 60px;
    }

    @include vp-767 {
      grid-template-columns: auto;
      gap: 27px;
    }
  }

  input {
    min-width: 190px;
    margin-bottom: 21px;
    padding: 10px;
    padding-bottom: 6px;
    padding-left: 0;
    font-size: 14px;
    color: $color-default-white;
    background-color: $color-transparent;
    border: 1px solid $color-transparent;
    border-bottom: 1px solid $color-light-slate-grey;

    @include vp-1199 {
      min-width: 206px;
      margin-bottom: 0;
    }

    @include vp-767 {
      min-width: 290px;
      padding-bottom: 5px;
    }

    &::placeholder {
      color: $color-default-white;
      opacity: 1;
      transition: opacity $trans-default;
    }

    &:hover {
      border-color: $color-default-white;
    }

    &:focus {
      border: 1px solid $color-default-white;
      outline: none;

      &::placeholder {
        color: $color-transparent;
        opacity: 0;
        transition: opacity $trans-default;
      }
    }

    &:active {
      border: 1px solid $color-default-white;
      outline: none;

      &::placeholder {
        color: $color-transparent;
      }
    }

    &:disabled {
      opacity: 0.3;
    }

    &:invalid {
      border-bottom-color: $color-error-red;
    }

    &:placeholder-shown {
      border-bottom-color: $color-default-white;
    }
  }

  button {
    grid-column: 1 / -1;
    justify-content: center;
    padding: 13px 20px 8px;
    font-size: 14px;
    letter-spacing: 0.7px;

    @include vp-1199 {
      padding: 13px 20px;
    }

    @include vp-767 {
      margin-top: 10px;
      padding: 14px 20px 13px;
    }
  }
}

.info__input-container {
  position: relative;
  margin: 0;

  .input-message {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;

    @include vp-1199 {
      bottom: -25px;
    }
  }
}

.info__input-container.is-invalid {
  input {
    border-bottom-color: $color-error-red;
  }

  .input-message {
    color: $color-error-red;
  }
}

.info__contacts-container {
  display: grid;
  padding: 57px 159px 63px 109px;
  border-top: 1px solid $color-light-slate-grey;

  @include vp-1365 {
    padding-right: 70px;
    padding-left: 109px;
  }

  @include vp-1199 {
    justify-content: center;
    padding: 61px 179px 60px 109px;
    border-top: none;
  }

  @include vp-767 {
    padding: 63px 87px 59px 15px;
  }

  h2 {
    margin-bottom: 37px;
    margin-left: 11px;
    font-weight: 600;
    line-height: normal;

    @include vp-1199 {
      margin-bottom: 32px;
      margin-left: 22px;
    }

    @include vp-767 {
      margin-left: 0;
      margin-bottom: 34px;
    }
  }
}

.info__contacts-list {
  position: relative;
  padding-left: 15px;

  @include vp-1199 {
    padding-left: 23px;
  }

  @include vp-767 {
    padding-left: 0;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-template-rows: repeat(2, auto);
    grid-auto-flow: column;
    gap: 17px 120px;
    margin: 0;
    padding: 0;
    list-style-type: none;

    @include vp-1199 {
      gap: 16px 96px;
    }

    @include vp-767 {
      grid-template-columns: auto;
      grid-auto-flow: row;
      gap: 17px;
    }
  }

  li {
    @include vp-767 {
      display: flex;
      flex-direction: column;
    }
  }

  h3 {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;

    @include vp-1199 {
      margin-bottom: 5px;
      font-size: 20px;
    }
  }

  address,
  p,
  a {
    margin: 0;
    font-style: normal;
    font-size: 14px;
    line-height: 168%;
    font-weight: 400;

    @include vp-1199 {
      font-size: 18px;
    }
  }

  a:hover,
  a:focus {
    opacity: 0.6;
  }

  a:active {
    opacity: 0.4;
  }

  &::after {
    position: absolute;
    top: 5px;
    left: 245px;
    width: 1px;
    height: 102px;
    border-right: 1px solid $color-light-slate-grey;
    content: "";

    @include vp-1199 {
      top: 8px;
      left: 289px;
      height: 129px;
    }

    @include vp-767 {
      display: none;
    }
  }
}
