.membership {
  position: relative;
  background-color: $color-ghost-white;
}

.membership__container {
  position: relative;
  min-height: 851px;
  margin-bottom: 73px;
  padding: 141px 93px 79px;

  @include vp-1365 {
    padding: 141px 20px 79px;
  }

  @include vp-1199 {
    margin-bottom: 100px;
    padding: 114px 163px 59px;
  }

  @include vp-767 {
    margin-bottom: 0;
    padding: 70px 15px 69px;
  }

  &::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 73px;
    background-color: $color-default-white;
    content: "";

    @include vp-1199 {
      height: 53px;
    }

    @include vp-767 {
      display: none;
    }
  }

  h2 {
    margin: 0;
    margin-bottom: 17px;
    margin-left: 3px;
    font-family: $ff-alumni;
    font-size: 54px;
    font-weight: 600;
    letter-spacing: 1.62px;
    text-align: center;
    transform: translateX(-2px);

    @include vp-1199 {
      margin-bottom: 14px;
      margin-left: 12px;
      font-size: 42px;
      letter-spacing: 1.26px;
      transform: translateX(-6px);
    }

    @include vp-767 {
      margin-bottom: 9px;
      margin-left: 6px;
      font-size: 32px;
      letter-spacing: 1px;
      transform: translateX(-4px);
    }
  }

  .membership__controls {
    display: flex;
    flex-wrap: wrap;

    width: fit-content;
    margin: 0 auto;
    margin-bottom: 38px;

    border-bottom: 2px solid $color-grey;

    @include vp-1199 {
      margin-bottom: 43px;
    }

    @include vp-767 {
      margin-bottom: 34px;
    }
  }

  .membership__control {
    display: block;
    width: fit-content;
    margin: 0;
    margin-right: 46px;
    margin-bottom: -2px;
    padding: 20px 0 12px;
    font-size: 20px;
    color: $color-sapphire;
    text-transform: lowercase;
    border: none;
    border-bottom: 2px solid $color-transparent;

    &:last-of-type {
      margin-right: 0;
    }

    &.is-active {
      border-bottom: 2px solid $color-crimson;
    }

    @include hover-focus {
      border-bottom: 2px solid $color-crimson;
      opacity: 1;
    }

    &:disabled {
      opacity: 0.3;
    }

    @include vp-1199 {
      margin-right: 54px;
      font-size: 18px;
    }

    @include vp-767 {
      margin-right: 44px;
      font-size: 16px;
      padding-bottom: 13px;
    }
  }
}

.membership__content {
  @include vp-767 {
    margin-bottom: 0;
  }
}

.membership__element {
  padding: 0;
  background-color: $color-transparent;
}

.membership__element ul {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-auto-flow: row;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 35px;
  }
}

.membership__element li {
  box-sizing: border-box;
  width: 360px;
  min-height: 448px;
  padding: 55px 62px 59px;
  text-align: center;
  border: 7px solid $color-default-white;
  background-color: $color-default-white;

  @include vp-1199 {
    width: 442px;
    min-height: 448px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 57px;
  }

  @include vp-767 {
    min-width: 290px;
    min-height: 384px;
    width: 100%;
    padding: 44px 34px 37px;
  }
}

.membership__element li:hover,
.membership__element li:focus {
  border-width: 7px;
  border-style: solid;
  border-image: $torch-red-to-cobalt 1;

  .membership__button {
    color: $color-default-white;
    background: $torch-red-to-cobalt;
    border-image: $torch-red-to-cobalt 1;

    &:active {
      color: $color-white-opacity;
    }
  }
}

.membership__element h3 {
  margin: 0;
  margin-bottom: 10px;

  font-size: 26px;
  line-height: 110.16%;

  @include vp-767 {
    margin-bottom: 9px;
    font-size: 22px;
  }
}

.membership__element p {
  margin-bottom: 65px;

  @include vp-1199 {
    margin-bottom: 66px;
  }

  @include vp-767 {
    margin-bottom: 54px;
  }
}


.membership__price-container {
  margin-bottom: 36px;

  @include vp-1199 {
    margin-bottom: 33px;
  }

  @include vp-767 {
    margin-bottom: 30px;
    transform: translateX(2px);
  }

  span {
    position: relative;
    margin: 0;
    margin-bottom: 35px;
    font-size: 60px;
    line-height: 150%;
    font-weight: 700;
    color: $color-egyptian-blue;
    z-index: 1;

    @include vp-767 {
      margin-bottom: 50px;
      font-size: 48px;
    }

    &::before {
      position: absolute;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);

      font-size: 100px;
      color: $color-whisper;
      opacity: 0.48;

      z-index: -1;
      content: attr(data-parent);

      @include vp-767 {
        top: -27px;
        left: 46%;
        font-size: 80px;
      }
    }
  }

  svg {
    color: $color-sapphire;

    @include vp-767 {
      width: 24px;
      height: 33px;
    }
  }
}

.membership__button {
  padding: 21px 44px 23px;
  letter-spacing: 0.6px;
  border-width: 2px;

  @include vp-767 {
    justify-content: center;
    width: 100%;
    padding: 21px 42px;
    letter-spacing: 0.7px;
    border-width: 3px;
  }

  &:hover,
  &:focus {
    color: $color-default-white;
    background: $torch-red-to-cobalt;
    border-image: $torch-red-to-cobalt 1;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.membership__image-container {
  position: absolute;
  top: 507px;
  right: 0;

  @include vp-1199 {
    top: unset;
    bottom: -125px;
  }

  @include vp-767 {
    display: none;
  }

  img {
    width: auto;
  }
}
