.membership__container {
  min-height: 851px;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $color-ghost-white;

  h2 {
    margin: 0;
    margin-bottom: 25px;
    font-family: $ff-alumni;
    font-size: 54px;
    letter-spacing: 1.62px;
    text-align: center;
  }

  .tabs__controls {
    display: flex;
    flex-wrap: wrap;

    width: fit-content;
    margin: 0 auto;
    margin-bottom: 39px;

    border-bottom: 1px solid $color-grey;

    .tabs__control {
      display: block;
      width: fit-content;
      margin: 0;
      margin-right: 46px;
      margin-bottom: -1px;
      padding: 20px 0;
      color: $color-sapphire;
      border: none;

      &:last-of-type {
        margin-right: 0;
      }

      &.is-active {
        border-bottom: 1px solid $color-crimson;
      }
    }
  }

  .tabs__content {
    .tabs__element {
      padding: 0;
      background-color: $color-transparent;

      ul {
        display: grid;
        grid-template-columns: repeat(3, 360px);
        grid-auto-flow: row;
        justify-content: center;
        gap: 40px;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          width: 360px;
          min-height: 448px;
          padding: 68px 77px;
          text-align: center;
          background-color: $color-default-white;

          h3 {
            margin: 0;
            margin-bottom: 22px;

            font-size: 26px;
            line-height: 110.156%;
          }

          p {
            margin-bottom: 96px;
          }
        }
      }
    }
  }
}

.membership__price-container {
  margin-bottom: 59px;
  span {
    position: relative;
    margin: 0;
    margin-bottom: 35px;
    margin-left: 2px;
    font-size: 60px;
    line-height: 150%;
    font-weight: 700;
    color: $color-egyptian-blue;
    z-index: 1;

    &::before {
      position: absolute;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);

      font-size: 100px;
      color: $color-whisper;
      opacity: 0.48;

      z-index: -1;
      content: attr(data-parent);
    }
  }
}

.membership__button {
  padding: 27px 41px;

  &:hover {
    color: $color-default-white;
    background: $torch-red-to-cobalt;
    border-image: $torch-red-to-cobalt 1;
  }

  &:hover:not(.focus-visible) {
    opacity: 1;
  }
}

.tabs__element li:hover {
  border-width: 4px;
  border-style: solid;
  border-image: $torch-red-to-cobalt 1;
}
